:root {
  --bg: #eeeeee;
}

* {
  box-sizing: border-box;
}

.show-summary {
}
@media (max-width: 576px) {
}

@media (max-width: 767px) {
  .show-page-image {
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 8px;
  }
  .episode-summary {
    font-size: 15px;
    line-height: 1.4em;
  }
  .episode-title {
    font-size: 20px;
  }
  .accordion-button {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.episode-card-image {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
@media (max-width: 991px) {
}

.episode-title,
.episode-summary {
  display: block;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

.accordion-button {
  background-color: white !important;
  color: black !important;
  box-shadow: none !important;
  outline: none !important;
}

.accordion-body {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

#__next {
  background-color: var(--bg);
}

html {
  background-color: var(--bg);
}

.search-result:hover {
  box-shadow: gray;
  transform: translate(0, -4px);
}

.search-result {
  transition: transform 0.1s linear;
}
